page-prepare {
    .content {
        background-image: url('../assets/imgs/fondos/fondo.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .title_item {
            margin-top: map-get($map: $margin, $key: ten);
            width: 100%;
            background-color: map-get($map: $customcolors, $key: custom_cell_second);
            color: white;
        }
        .content_item {
            margin: 0 ;
            background: transparent !important;
            width: 80vw;
            margin-left: 8vw;
            margin-right: 10vw;
            margin-top: map-get($map: $margin, $key: ten);
            div {
                padding-left: 5px;
                border-radius: 5px;
                background-color: map-get($map: $customcolors, $key: custom_cell_second);
                display: block;
                overflow: auto;
                color: white;
                word-wrap: normal;
                white-space: normal;
                text-align: left;
                font-size: map-get($map: $fonts, $key: small);
            }
        }

        .content_image{
          width: 85vw;
          margin-left: 8vw;
          margin-right: 8vw;
          margin-top: map-get($map: $margin, $key: ten);
          img{
            background-size: cover;
          }
        }

        .mybutton,.bottom_part{
          width: 60vw;
          height: 50px;
          font-size: map-get($map: $fonts, $key: middle);
        }
    }
}
